---
---
@import "{{ site.theme }}";

.imgLeft {
float:left;
margin-right:10px;
margin-bottom:10px;
width:70%;
vertical-align:top;
border:1px solid red;
}


h1 {
 color:pink;
}

.main-content h1 {
color:blue;
}

